.containerTableProducts{
    margin: 20px;
}
.imageProduct{
    width:121px;
    height:131px;
    margin-right: 10px;
}
.rowImageProduct{
    display: flex !important;
    align-items: center;
    flex-direction: row !important;
}
.containerProducts{
    box-shadow: none !important;
    
}