@import url('https://fonts.googleapis.com/css2?family=Hind&family=Montserrat:wght@600&display=swap');
$font_montserrat: 'Montserrat', sans-serif;

$white:            #FFF;
$black:            #000;
$main :            #006FFF;
$gray-900:         #565657;
$gray-400:         #A6A6A7;
$gray-100:         #E9E9E9;
$aqua-500:         #23B794;
$pita-500:         #D6215B;
$blue-dark:        #01172C;
$bg:               #F0F6FF;

